<div>
  <p class="dialog-title">Novo talhão</p>

  <form class="form-dialog" [formGroup]="glebeData">
    <input type="text" id="name" formControlName="name" placeholder="Nome *">
    <input type="number" id="area" formControlName="area" placeholder="Tamanho (ha) *">
  </form>

  <div mat-dialog-actions class="dialog-div-buttons">
      <button mat-button (click)="closeDialog()" class="secondary-button">Cancelar</button>
      <button mat-button (click)="addGlebe()" class="main-button">Salvar</button>
  </div>
</div>
