<div class="main-content">
  <div class="content-header">
    <mat-icon class="icon action" aria-label="arrow-left" (click)="goBack()">keyboard_arrow_left</mat-icon>
    <h1> {{glebe?.name}} </h1>
    <div class="detail">
      <p class="detail-subtitle">Produtividade</p>
      <p class="detail-title">{{glebe?.productivity}}</p>
    </div>
  </div>
  <div class="div-title">
    <p class="main-title">Produção</p>
    <button class="main-button" (click)="openAddProductionModal()">Nova Produção</button>
  </div>

  <div *ngIf="productions.length == 0" class="no-content-div">
    <h1>Sem produções</h1>
    <p>Registre uma produção para começar</p>
  </div>

  <div *ngIf="productions.length != 0">
    <table class="table-list">
      <tr *ngFor="let production of productions">
          <td><mat-icon class="icon static" aria-label="filter_frames">filter_frames</mat-icon></td>
          <td>
            <div>
              <p class="detail-title"> {{ production.amount }} kg </p>
              <p class="detail-subtitle"> Produzido </p>
            </div>
          </td>
          <td><mat-icon class="icon action ghost" aria-label="edit" (click)="openAddProductionModal(production)">edit</mat-icon> </td>
          <td><mat-icon class="icon action ghost" aria-label="delete" (click)="openDeleteProductionModal(production)">delete</mat-icon></td>
      </tr>
    </table>
  </div>

</div>

