<div class="main-content">
  <div class="content-header">
    <mat-icon class="icon action" aria-label="arrow-left" (click)="goBack()">keyboard_arrow_left</mat-icon>
    <h1>{{farm?.name}}</h1>
    <div class="detail">
      <p class="detail-subtitle">Produtividade</p>
      <p class="detail-title">{{farm?.productivity}}</p>
    </div>
  </div>
  <div class="div-title">
    <p class="main-title">Talhões da Fazenda</p>
    <button class="main-button" (click)="openAddGlebeModal()">Novo Talhão</button>
  </div>

  <div *ngIf="glebes.length == 0" class="no-content-div">
    <h1>Sem talhões</h1>
    <p>Registre um talhão para começar</p>
  </div>

  <div *ngIf="glebes.length != 0">
    <table class="table-list">
      <tr *ngFor="let glebe of glebes">
          <td><mat-icon class="icon static" aria-label="map">map</mat-icon></td>
          <td>
            <div>
              <p class="detail-title"> {{ glebe.name }} </p>
              <p class="detail-subtitle"> {{ glebe.area }} ha </p>
            </div>
          </td>
          <td><mat-icon class="icon action ghost" aria-label="edit" (click)="openAddGlebeModal(glebe)">edit</mat-icon> </td>
          <td><mat-icon class="icon action ghost" aria-label="delete" (click)="openDeleteGlebeModal(glebe)">delete</mat-icon></td>
          <td><mat-icon class="icon action" aria-label="arrow-right" [routerLink]="['/glebe-detail', glebe.id]">keyboard_arrow_right</mat-icon></td>
      </tr>
    </table>
  </div>

</div>
